<div id="mySidenav" class="sidenav">
  <a routerLinkActive="disabled" routerLink="life-cycle">life-cycle</a>
  <a routerLinkActive="disabled" routerLink="toastr-example">toastr-example</a>
  <a routerLinkActive="disabled" routerLink="ng-content-example">ng-content-example</a>
  <a routerLinkActive="disabled" routerLink="nav-persist-example">nav-persist-example</a>
  <a routerLinkActive="disabled" routerLink="bootstrap-example">bootstrap-example</a>
  <a routerLinkActive="disabled" routerLink="form-validation">form-validation</a>
  <a routerLinkActive="disabled" routerLink="ag-grid-example">ag-grid-example</a>
  <a routerLinkActive="disabled" routerLink="ladda-example">ladda-example</a>
</div>
