<div class="app-ag-grid-example-container">
  <div class="navigator">
    <a routerLinkActive="disabled" routerLink="a">ag-grid-example/a</a>
    <a routerLinkActive="disabled" routerLink="b">ag-grid-example/b</a>
    <a routerLinkActive="disabled" routerLink="ag-grid-sorting">sorting</a>
    <a routerLinkActive="disabled" routerLink="ag-grid-editing">editing</a>
    <a routerLinkActive="disabled" routerLink="ag-grid-edit-button">edit-button</a>
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>
</div>
