<div class="app-form-validation-group">
  <div class="json">
    {{group.value | json}}
  </div>
  <form [formGroup]="group" (ngSubmit)="onSubmit()">
    <div>
      <label for="first-name">First Name: </label>
      <input id="first-name" type="text" formControlName="firstName">
    </div>
    <div>
      <label for="last-name">Last Name: </label>
      <input id="last-name" type="text" formControlName="lastName">
    </div>

    <div formGroupName="address">
      <h2>Address</h2>
    
      <label for="street">Street: </label>
      <input id="street" type="text" formControlName="street">
    
      <label for="city">City: </label>
      <input id="city" type="text" formControlName="city">
    
      <label for="state">State: </label>
      <input id="state" type="text" formControlName="state">
    
      <label for="zip">Zip Code: </label>
      <input id="zip" type="text" formControlName="zip">
    </div>

    <div class="button">
      <button (click)="clearGroup()">Clear Group</button>
      <button (click)="updateGroup()">Update Group</button>
      <button type="submit" [disabled]="!group.valid || !group.dirty">Submit</button>
    </div>
  </form>

</div>
