.app-form-validation-dynamic {
  display: inline-block;

  div {
    margin: 0.1rem 0 0 0;
  }

  .json {
    white-space: pre;
    background-color: white;
    padding: 1rem;
    margin: 0 0 1rem 0;
  }
}